<a href="#" id="toggleToc">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve"> <path id="menu-icon" d="M462,163.5H50v-65h412V163.5z M462,223.5H50v65h412V223.5z M462,348.5H50v65h412V348.5z"></path></svg>
  Contents
</a>

<ol id="toc">
  <li><a href='{{ site.baseurl }}/'>Introduction</a></li>

  <li>
    Useful stuff

    <ol>
      <li><a href='{{ site.baseurl }}/pages/administrative-tooling'>Administrative Tooling</a></li>
      <li><a href='{{ site.baseurl }}/pages/expenses-policy'>Expenses policy</a></li>
    </ol>
  </li>

  <li>
    Family

    <ol>
      <li><a href='{{ site.baseurl }}/pages/maternity-policy'>Maternity Policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/paternity-leave-and-paternity-pay'>Paternity Leave and Paternity Pay</a></li>
      <li><a href='{{ site.baseurl }}/pages/adoption-policy'>Adoption Policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/parental-leave-policy'>Parental leave policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/time-off-for-dependents-policy'>Time off for dependents policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/right-to-request-flexible-working'>Right to request flexible working</a></li>
    </ol>
  </li>

  <li>
    Time off

    <ol>
      <li><a href='{{ site.baseurl }}/pages/holidays'>Holidays</a></li>
      <li><a href='{{ site.baseurl }}/pages/sick-pay-entitlement'>Sick pay entitlement</a></li>
      <li><a href='{{ site.baseurl }}/pages/absence-periods-and-rules'>Absence periods and rules</a></li>
    </ol>
  </li>

  <li>
    Naughtiness

    <ol>
      <li><a href='{{ site.baseurl }}/pages/anti-harassment-and-bullying-policy'>Anti-harassment and bullying policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/disciplinary-rules'>Disciplinary rules</a></li>
      <li><a href='{{ site.baseurl }}/pages/disciplinary-procedure'>Disciplinary procedure</a></li>
      <li><a href='{{ site.baseurl }}/pages/grievance-procedure'>Grievance procedure</a></li>
    </ol>
  </li>

  <li>
    Nerdiness

    <ol>
      <li><a href='{{ site.baseurl }}/pages/data-protection-policy'>Data protection policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/internet-and-communication-systems-policy'>Internet and communication systems policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/social-media-policy'>Social media policy</a></li>
    </ol>
  </li>

  <li>
    Niceness

    <ol>
      <li><a href='{{ site.baseurl }}/pages/equal-opportunities-policy'>Equal opportunities policy</a></li>
      <li><a href='{{ site.baseurl }}/pages/retirement-policy'>Retirement policy</a></li>
    </ol>
  </li>
</ol>
