<ol>
  <li><a href='/'>Introduction</a></li>

  <li>
    Useful stuff

    <ol>
      <li><a href='/pages/administrative-tooling'>Administrative Tooling</a></li>
    </ol>
  </li>

  <li>
    Family

    <ol>
      <li><a href='/pages/maternity-policy'>Maternity Policy</a></li>
      <li><a href='/pages/paternity-leave-and-paternity-pay'>Paternity Leave and Paternity Pay</a></li>
      <li><a href='/pages/adoption-policy'>Adoption Policy</a></li>
      <li><a href='/pages/parental-leave-policy'>Parental leave policy</a></li>
      <li><a href='/pages/time-off-for-dependents-policy'>Time off for dependents policy</a></li>
      <li><a href='/pages/right-to-request-flexible-working'>Right to request flexible working</a></li>
    </ol>
  </li>

  <li>
    Time off

    <ol>
      <li><a href='/pages/holidays'>Holidays</a></li>
      <li><a href='/pages/sick-pay-entitlement'>Sick pay entitlement</a></li>
      <li><a href='/pages/absence-periods-and-rules'>Absence periods and rules</a></li>
    </ol>
  </li>

  <li>
    Naughtiness

    <ol>
      <li><a href='/pages/anti-harassment-and-bullying-policy'>Anti-harassment and bullying policy</a></li>
      <li><a href='/pages/disciplinary-rules'>Disciplinary rules</a></li>
      <li><a href='/pages/disciplinary-procedure'>Disciplinary procedure</a></li>
      <li><a href='/pages/grievance-procedure'>Grievance procedure</a></li>
    </ol>
  </li>

  <li>
    Nerdiness

    <ol>
      <li><a href='/pages/data-protection-policy'>Data protection policy</a></li>
      <li><a href='/pages/internet-and-communication-systems-policy'>Internet and communication systems policy</a></li>
      <li><a href='/pages/social-media-policy'>Social media policy</a></li>
    </ol>
  </li>

  <li>
    Niceness

    <ol>
      <li><a href='/pages/equal-opportunities-policy'>Equal opportunities policy</a></li>
      <li><a href='/pages/retirement-policy'>Retirement policy</a></li>
    </ol>
  </li>
</ol>
