<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">

  <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

  {% include header.html %}

  <div class="alert">
    <p>This is still beta. Some of the procedures and policies are a little odd.</p>
  </div>

  <main>
    <aside>
      {% include toc.html %}
    </aside>

    <section>
      {{ content }}
    </section>
  </main>

  {% include footer.html %}

  <script src="/scripts/main.js"></script>
</body>
</html>
